@font-face{
	font-family:LibreFranklin;
	src:url(../fuentes/LibreFranklin/LibreFranklin-Bold.ttf);
}

@font-face{
	font-family:LibreFranklin;
	src:url(../fuentes/LibreFranklin/LibreFranklin-Regular.ttf);
}

       
